<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="robots" content="noindex">
</head>
<body>
<div id="app">
    <v-toolbar tabs dark color="blue-grey darken-3">

        <v-toolbar-title>Christopher Woodhave</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-tabs
                slot="extension"
                v-model="tab"
                color="teal lighten-2"
                slider-color="amber"
                grow
        >
            <v-tab
                    v-for="item in navbar"
                    :key="item.tab"
                    :href="`#${item.tab}`"
            >
                {{ item.title }}
            </v-tab>
        </v-tabs>
    </v-toolbar>
    <v-app>
        <v-content>
            <v-container>
                <v-tabs-items v-model="tab">
                    <v-tab-item
                            value="home"
                    >
                        <v-card flat class="pa-3">
                            <h1 class="text-xs-center mb-4">Home</h1>
                            <v-card-text>Home Tab stuff</v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item
                            value="skills"
                    >
                        <v-card flat class="pa-3">
                            <h1 class="text-xs-center mb-4">Programming Skills</h1>
                            <h3><v-icon>language</v-icon> Languages</h3>
                            <v-card-text>Java</v-card-text>
                            <h3><v-icon>computer</v-icon> Systems</h3>
                            <v-card-text>Git</v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item
                            value="education"
                    >
                        <v-card flat class="pa-3">
                            <h1 class="text-xs-center mb-4">My Education</h1>
                            <v-timeline>
                                <v-timeline-item color="red lighten-2" large >
                                    <span slot="opposite">December 2018</span>
                                    <v-card class="elevation-2 pa-2">
                                        <v-img src="./images/wsu_logo.png" max-height="50px" position="left center" contain></v-img>
                                        <v-card-title class="headline">Bachelor of Science - Computer Science</v-card-title>
                                        <v-card-text>
                                            Completed a Bachelor's of Science in Computer Science with an Insititutional Honor of Summa Cum Laude - (Institutional GPA of 4.0 / 4.0)
                                        </v-card-text>
                                        <v-card-text>(Description of classes and projects ) </v-card-text>
                                    </v-card>
                                </v-timeline-item>
                                <v-timeline-item color="red lighten-2" large >
                                    <span slot="opposite">December 2010</span>
                                    <v-card class="elevation-2 pa-2">
                                        <v-img src="./images/wsu_logo.png" max-height="50px" position="left center" contain></v-img>
                                        <v-card-title class="headline">Bachelor of Science - Automotive Technology / Technical Sales</v-card-title>
                                        <v-card-text>
                                            Completed a Bachelor's of Science with a double major in the fields of Automotive Technology and Technical Sales with an overall GPA of 3.84 / 4.0
                                        </v-card-text>
                                    </v-card>
                                </v-timeline-item>
                            </v-timeline>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item
                            value="experience"
                    >
                        <v-card flat class="pa-3">
                            <h1 class="text-xs-center mb-4">Recent Work Experience</h1>
                            <v-img src="./images/wsu_logo.png" max-height="50px" position="left center" contain></v-img>
                            <v-card-title primary-title class="text-xs-center">
                                <div>
                                    <h3 class="headline">Research Center Program Coordinator</h3>
                                    <v-subheader>April 2010 to Present - Ogden, Utah</v-subheader>
                                </div>
                            </v-card-title>
                            <h3 class="text-xs-center">Duties</h3>
                            <v-card-text>As the program coordinator I manage the day to day activities at the center which includes hiring and managing student and full-time employees and coordinating their efforts on multiple projects.</v-card-text>
                            <h3 class="text-xs-center">Current and Recent Projects</h3>
                            <v-expansion-panel>
                                <v-expansion-panel-content >
                                    <div slot="header">ALBOP</div>
                                    <v-card>
                                        <v-card-text>Online web portal using Vue js and Nodejs/ Express</v-card-text>
                                    </v-card>
                                </v-expansion-panel-content>
                                <v-expansion-panel-content >
                                    <div slot="header">OBD Clearinghouse</div>
                                    <v-card>
                                        <v-card-text>Java Project funded by EPA website: <a href="https://www.obdclearinghouse.com" target="_blank">OBD Clearinghouse</a></v-card-text>
                                    </v-card>
                                </v-expansion-panel-content>
                                <v-expansion-panel-content >
                                    <div slot="header">Centralized I/M Reports Database</div>
                                    <v-card>
                                        <v-card-text>Centralized database for 5 emissions counties and Utah DMV</v-card-text>
                                    </v-card>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item
                            value="about"
                    >
                        <v-card flat class="pa-3">
                            <h1 class="text-xs-center mb-4">About Me</h1>
                            <v-card-text>Interests</v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs-items>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                tab: 'home',
                navbar: [
                    { title: 'Home', tab: 'home'},
                    { title: 'Skills', tab: 'skills'},
                    { title: 'Education', tab: 'education'},
                    { title: 'Work Experience', tab: 'experience'},
                    { title: 'About Me', tab: 'about'}
                ]
            }
        }
    })
</script>
</body>
</html>
