<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="./styles/site.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="robots" content="noindex">
</head>
<body>
<div id="app">
    <div v-if="!$data" class="loading">
        <h1>Loading...</h1>
    </div>
    <div v-cloak>

    <v-app>
    <v-toolbar tabs dark fixed color="blue-grey darken-3" dense extended>

        <v-toolbar-title>Christopher Woodhave  <span class="font-weight-thin font-italic">Software Developer</span></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-tabs
                slot="extension"
                v-model="tab"
                color="teal lighten-2"
                slider-color="amber"
                v-if="$vuetify.breakpoint.smAndUp"
                grow
        >
            <v-tab
                    v-for="item in navbar"
                    :key="item.tab"
                    :href="`#${item.tab}`"
            >
                {{ item.title }}
            </v-tab>
        </v-tabs>
        <v-menu class="hidden-sm-and-up">
            <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon>
            <v-list>
                <v-list-tile
                        v-for="item in navbar"
                        :key="item.tab"
                        @click="tab = item.tab"
                >
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-menu>
    </v-toolbar>
    <v-content class="content">

        <v-container>

            <v-tabs-items v-model="tab">
                <v-tab-item
                        value="about"
                >
                    <v-card flat class="pa-3 mb-3">
                        <h1 class="text-xs-center mb-4 display-2">Contact Information</h1>
                        <h2 class="text-xs-center headline"><v-icon>email</v-icon> cwoodhave@gmail.com</h2>
                    </v-card>

                    <v-card flat class="pa-3">
                        <h1 class="text-xs-center mb-4 display-2">About Me</h1>
                        <v-container grid-list-xs>
                            <v-layout flex-child row>
                                <v-flex xs10>
                                    <v-sheet
                                            color="cyan lighten-5"
                                            :class="[ $vuetify.breakpoint.smAndUp ? 'display-1' : 'subheading' , 'pa-4', 'mb-2']"
                                    >
                                        <p class="font-weight-thin font-italic">Goals</p>
                                        As a recent graduated from the Weber State University Computer Science Program, I am looking to begin applying a improving upon the skill set I have gained in my college courses and at my current position.
                                    </v-sheet>
                                </v-flex>
                            </v-layout>
                            <v-layout flex-child row>
                                <v-flex xs10 offset-xs2>
                                    <v-sheet
                                        color="lime lighten-5"
                                        :class="[ $vuetify.breakpoint.smAndUp ? 'display-1' : 'subheading' , 'pa-4', 'mb-2']"
                                    >
                                        <p class="font-weight-thin font-italic">Experience</p>
                                        Over the course of my career, I have been able to gain experience in a number of different languages and software development systems.
                                        I have had extensive experience in web programing languages including HTML, Javascript, and CSS. I have also been able to gain substantial experience in C# and Java during my time at Weber State University with some minor experience in other languages.
                                    </v-sheet>
                                </v-flex>
                            </v-layout>
                            <v-layout flex-child row>
                                <v-flex xs10>
                                    <v-sheet
                                            color="red lighten-5"
                                            :class="[ $vuetify.breakpoint.smAndUp ? 'display-1' : 'subheading' , 'pa-4', 'mb-2']"
                                    >
                                        <p class="font-weight-thin font-italic">Interests</p>
                                        In my personal time I enjoy outdoor activities such as hiking, cycling, and skiing.  I enjoy listening to and playing music on a number of different instruments.
                                        I also enjoy working with my hands and fixing things whether it be repairing vehicles, building and fixing computers, or making simple home repairs and improvements.
                                    </v-sheet>
                                </v-flex>
                            </v-layout>
                        </v-container>

                    </v-card>
                </v-tab-item>
                <v-tab-item
                        value="skills"
                >
                    <v-card flat class="pa-3">
                        <h1 class="text-xs-center mb-4 display-2">Programming Skills</h1>
                         <v-container fluid grid-list-sm text-xs-center>
                            <v-layout row wrap>
                                <v-flex md5 xs12>
                                    <h3><v-icon>language</v-icon> Languages</h3>
                                    <v-container fluid grid-list-xs>
                                        <v-layout row wrap>
                                            <v-flex v-for="l in languages" class="text-xs-center" sm3 xs6>
                                                <v-img v-if="l.icon" :src="'https://icongr.am/devicon/' + l.icon + '.svg?size=50'" max-height="50px" contain></v-img>
                                                <v-img v-else :src="l.source" max-height="50px" contain></v-img>
                                                <p>{{ l.text }}</p>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-flex>
                                <v-flex text-xs-center xs2>
                                <v-divider vertical ></v-divider>
                                </v-flex>
                                <v-flex md5 xs12>
                                    <h3><v-icon>computer</v-icon> Systems</h3>
                                    <v-container fluid grid-list-xs>
                                        <v-layout row wrap>
                                            <v-flex v-for="s in systems" sm3 xs6>
                                                <v-img v-if="s.icon" :src="'https://icongr.am/devicon/' + s.icon + '.svg?size=50'" max-height="50px" contain></v-img>
                                                <v-img v-else :src="s.source" max-height="50px" contain></v-img>
                                                <p>{{ s.text }}</p>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-tab-item>
                <v-tab-item
                        value="education"
                >
                    <v-card flat class="pa-3">
                        <h1 class="text-xs-center mb-4 display-2">My Education</h1>
                        <v-timeline :dense="$vuetify.breakpoint.xsOnly">
                            <v-timeline-item color="red lighten-2" large >
                                <span slot="opposite">December 2018</span>
                                <v-card class="elevation-2 pa-2">
                                    <v-img src="./images/wsu_logo.png" max-height="50px" position="left center" contain></v-img>
                                    <v-card-title class="headline">Bachelor of Science - Computer Science</v-card-title>
                                    <v-card-text>
                                        Completed a Bachelor's of Science in Computer Science with an Institutional Honor of Summa Cum Laude - (GPA of 4.0 / 4.0).
                                    </v-card-text>
                                    <v-card-text>The CS degree at Weber covers all of the basics of computer science including: object oriented programming, database design, networking, computer architecture and the software engineering development process.</v-card-text>
                                    <v-card-text>For my capstone project our group helped to develop an inventory management system for a local non-profit food bank.  The system allows users to track incoming and outgoing donations, along with the ability to query the database and print reports.</v-card-text>
                                </v-card>
                            </v-timeline-item>
                            <v-timeline-item color="red lighten-2" large >
                                <span slot="opposite">December 2010</span>
                                <v-card class="elevation-2 pa-2">
                                    <v-img src="./images/wsu_logo.png" max-height="50px" position="left center" contain></v-img>
                                    <v-card-title class="headline">Bachelor of Science - Automotive Technology / Technical Sales</v-card-title>
                                    <v-card-text>
                                        Completed a Bachelor's of Science with a double major in the fields of Automotive Technology and Technical Sales with an overall GPA of 3.84 / 4.0
                                    </v-card-text>
                                    <v-card-text>The automotive aspect of this degree focused on field service management and fleet management while the technical sales portion covered the basics of public speaking, customer service and sales techniques</v-card-text>
                                </v-card>
                            </v-timeline-item>
                        </v-timeline>
                    </v-card>
                </v-tab-item>
                <v-tab-item
                        value="experience"
                >
                    <v-card flat class="pa-3">
                        <h1 class="text-xs-center mb-4 display-2">Recent Work Experience</h1>
                        <v-img src="./images/wsu_logo.png" max-height="50px" position="left center" contain></v-img>
                        <v-card-title primary-title class="text-xs-center">
                            <div>
                                <h3 class="headline">Research Center Program Coordinator</h3>
                                <v-subheader>April 2010 to Present - Ogden, Utah</v-subheader>
                            </div>
                        </v-card-title>
                        <v-divider></v-divider>
                        <h3 class="text-xs-center mt-3"><v-icon>fas fa-briefcase</v-icon> Duties</h3>
                        <v-card-text class="px-5">As the program coordinator I manage the day to day activities at the center which includes hiring and managing student and full-time employees and coordinating their efforts on multiple projects.
                            I am also in charge of preparing and submitting proposals and reporting on the efforts made by myself and other center employees to the various state and federal agencies that supply center funding.</v-card-text>
                        <v-card-text class="px-5 mb-3">Along with my main duties I have also been involved in the design, development, and administration of the software developed at the center.</v-card-text>
                        <v-divider></v-divider>
                        <h3 class="text-xs-center mt-3"><v-icon>fas fa-project-diagram</v-icon> Current and Recent Projects</h3>
                        <v-expansion-panel focusable class="mt-2 elevation-7">
                            <v-expansion-panel-content >
                                <div slot="header"><h4>OBD Clearinghouse</h4></div>
                                <v-card class="mx-3">
                                    <v-subheader>Website: &nbsp;<a href="https://www.obdclearinghouse.com" target="_blank" class="external">www.obdclearinghouse.com</a></v-subheader>
                                    <v-subheader>Background: </v-subheader>
                                    <v-card-text>
                                        The National On-Board Diagnostic (OBD) Clearinghouse is a website funded by the Environmental Protection Agency (EPA) to help facility communication between the state vehicle emissions (I/M) program administrators and vehicle manufacturers (OEMs).
                                    </v-card-text>
                                    <v-subheader>My Role: </v-subheader>
                                    <v-card-text>
                                        For this project I am mainly in charge of user administration of the site though I have also help with to code feature enhancements and bug fixes
                                    </v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                            <v-expansion-panel-content >
                                <div slot="header"><h4>ALBOP - Asbestos/Lead-Based Paint Online Portal</h4></div>
                                <v-card class="mx-3">
                                    <v-subheader>Background: </v-subheader>
                                    <v-card-text>
                                        The Asbestos and Lead-Based Paint Online Portal is a billing and tracking system that the Utah Department of Environmental Quality (DEQ) uses to track the proper removal and disposal of hazardous materials from constructions sites.
                                    </v-card-text>
                                    <v-subheader>My Role: </v-subheader>
                                    <v-card-text>
                                        During this project I have assisted with the front-end and back-end design and development including implementing the search and submission pages for several user-submitted forms.
                                    </v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                            <v-expansion-panel-content >
                                <div slot="header"><h4>Centralized Vehicle Emissions Reports Database</h4></div>
                                <v-card class="mx-3">
                                    <v-subheader>Background: </v-subheader>
                                    <v-card-text>
                                        In Utah, we have multiple emission programs that are each run by local health departments rather than one central state office. A centralized database of all the emission records was requested by the counties to help resolve some of the challenges that this creates.
                                    </v-card-text>
                                    <v-subheader>My Role: </v-subheader>
                                    <v-card-text>
                                        During this project I have mainly been in charge of writing the queries that the I/M program administrators use to filter and search records. I also helped to design the form layouts and results pages for the queries.
                                    </v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-container>
    </v-content>
    </v-app>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                tab: 'about',
                navbar: [
                    { title: 'About Me', tab: 'about'},
                    { title: 'Skills', tab: 'skills'},
                    { title: 'Education', tab: 'education'},
                    { title: 'Work Experience', tab: 'experience'}
                ],
                languages: [
                    { text: 'C#', icon: 'csharp-original' }, { text: 'C++', icon: 'cplusplus-original' }, { text: 'C', icon: 'c-original' }, { text: 'Java', icon: 'java-original' },
                    { text: 'Javascript', icon: 'javascript-original' }, { text: 'HTML', icon: 'html5-original-wordmark' }, { text: 'CSS', icon: 'css3-original-wordmark' }, { text: 'PHP', icon: 'php-original' },
                    { text: 'Python', icon: 'python-original' }, { text: 'SQL', icon: null, source: './images/sql_logo.png' }, { text: 'NoSQL', icon: 'mongodb-original' }
                ],
                systems: [
                    { text: 'MongoDB', icon: 'mongodb-original' }, { text: 'PostgreSQL', icon: 'postgresql-original' }, { text: 'Oracle SQL', icon: 'oracle-original' },
                    { text: 'Tomcat', icon: 'tomcat-original' }, { text: 'NodeJS', icon: 'nodejs-original-wordmark' }, { text: 'Express', icon: 'express-original' }, { text: 'Vue & Vuetify', icon: 'vuejs-original' },
                    { text: 'Bootstrap', icon: 'bootstrap-plain' },  { text: 'ASP.NET Core', icon: 'dot-net-original' }, { text: 'Xamarin', icon: null, source: './images/xamarin_logo.svg' },  { text: 'Git', icon: 'git-original' },
                    { text: 'GitHub', icon: 'github-original' },  { text: 'Bitbucket', icon: 'bitbucket-original' }, { text: 'Visual Studio', icon: 'visualstudio-plain'}, { text: 'IntelliJ', icon: 'intellij-original'}
                ]
            }
        }
    })
</script>
</body>
</html>
