[v-cloak] {
    display: none;
}
.loading {
    text-align: center;
    margin-top: 50px;
}

.content {
    margin-top: 96px;
    background: url("../images/blue_background.jpg") repeat;
}

.transparent {
    background-color: transparent!important;
    opacity: 0.65;
    border-color: transparent!important;
}

.external {
    text-decoration: none;
}
    .external:link {
        color: #0096FB;
    }
    .external:visited {
        color: blueviolet;
    }
    .external:hover {
        color: #006FBA;
    }
    .external:active {
        color: blue;
    }
